body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 255, 255, 0.142);
}

h1{
    position: absolute;
    top: 15%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.centered-object{
    position: absolute;
    left: 48%;
    transform: translate(-50%, -50%);
}

.underline{
    border-bottom: 3px solid rgb(0, 148, 148);
    display: inline;
    top: 23%;
    padding-left: 60px;

}

.review{
    box-shadow: 0 8px 15px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    top: 55%;
    padding-bottom: 70px;
    background-color: white;
    border-radius: 10px;
}

.review:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.centered-article{
    text-align: center;
}

.profile-header img{
    width: 20%;
    padding-top: 10px;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}


#job{
    color: rgb(0, 148, 148);
}


.surprise-button{
    top: 91%;
    

}

button{
    background-color: #4070F4;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

#next{
    font-size: 20px;
}

#previous{
    font-size: 20px;
}

.profile-header {
    background-color: #4070F4;
    height: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-header img {
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
    border-radius: 50%;
    overflow: hidden;
}
  

  